body{
    background-color: #B7C9F2;
	margin: 0;
	color:#F9F07A;
    font-family: arial;
}

header {
    margin-top: 0;
    background-color: #9195F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
}

header #log {
	  height: 60px;
}
header #conf {
    height: 30px;
}

header a{
    text-decoration: none;
    color: #F9F07A;
    margin: 20px;
}

.container{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;  
    background-attachment: fixed;
    text-align: center;
    color: #9195F6;
}
.container span{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.container img{
    height: 100%;
    width: 100%;
}
.container p{
    background-color: #F9F07A;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


#divOp{
	margin-top: 60px;
	text-align: center;
    display: inline-block;
    height: 180px;
    width: 100%;
}

.elemento{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    height: 80px;
    width: 33%;
    background-color: #F9F07A;
    color: #9195F6;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    
}

.elemento select {
    text-align-last: center;
    background-color: transparent;
    height: 40px;
    width: calc(100% - 50px);
    border: none;
    color: #9195F6;
    outline: none;
    font-size: medium;
}

.elemento select option {
    border-radius: 10px;
    background-color: #9195F6;
    color: #F9F07A;
}
.elemento select option {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center; 
}
#texto{
    margin-top:50px ;
}

.linea{
    position: absolute;
    top: 100vh;
    background-color:#F9F07A;
    height: 2px;
    width: 100%;
}
.pie{
    background-color: #fb88b4;
    width: 100%;
    height: 100px;
}
