body{
    background-color: #B7C9F2;
	margin: 0;
	color:#F9F07A;
    font-family: arial;
}

header {
    margin-top: 0;
    background-color: #9195F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}

header #log {
	  height: 60px;
}
header #conf {
    height: 30px;
}

header a{
    text-decoration: none;
    color: #F9F07A;
    margin: 20px;
}

.container{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;  
    background-attachment: fixed;
    text-align: center;
    color: #9195F6;
}
.container span{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.container img{
    height: 100%;
    width: 100%;
}
.container p{
    background-color: #F9F07A;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


#divOp{
	margin-top: 60px;
	text-align: center;
    display: inline-block;
    height: 180px;
    width: 100%;
}

.elemento{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    height: 80px;
    width: 33%;
    background-color: #F9F07A;
    color: #9195F6;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    
}

.elemento select {
    text-align-last: center;
    background-color: transparent;
    height: 100%;
    width: calc(100% - 50px);
    border: none;
    color: #9195F6;
    outline: none;
    font-size: medium;
}

.elemento select option {
    border-radius: 10px;
    background-color: #9195F6;
    color: #F9F07A;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center; 
}
#texto {
    height: 30px;
    width: 100px;
    position: relative;
    top: -60px;
    display: flex;
    flex-direction: column;
    background-color: #F9F07A;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}


.linea{
	position: relative;
    background-color:#F9F07A;
    height: 2px;
    width: 100%;
}

footer {
    background-color: #FB88B4;
    color: #F9F07A;
    padding: 20px;
    text-align: center;
    height: 80px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    text-decoration: none;
    color: #F9F07A;
    margin: 20px;
}
footer img{
	height: 100%;
}
footer a{
	margin: 20px;
	height: 30px;
	width: 30px;
}
#vertical{
	background-color: #F9F07A;
	height: 75%;
	width: 2px;
}

